<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" media="screen"
    href="lib/bootstrap/dist/css/bootstrap.css" 
  />
  <!--[if lt IE 9]>
    <script src="lib/bootstrap/assets/js/html5shiv.js"></script>
    <script src="lib/bootstrap/assets/js/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <div id="app" class="container">
  </div>
  <script data-main="js/main" src="lib/requirejs/require.js"></script>

  <script type="text/template" id="community-form-tmpl">
    <div class="row">
      <div class="col-md-7">
        <div class="row">
          <label class="col-md-3">Name: </label>
          <input class="field col-md-4" type="text" value="<%- name %>"/>
        </div>
        <div class="row">
          <label class="col-md-3">Abbreviation: </label>
          <input class="col-md-4" type="text" value="<%- abbr %>"/>
        </div>
        <div class="row">
          <label class="col-md-3">Long Name: </label>
          <input class="col-md-4" type="text" value="<%- long_name %>"/>
        </div>
        <div class="row">
          <label class="col-md-3">Font: </label>
          <input class="col-md-4" type="text" value="<%- font %>"/>
        </div>
      </div>

      <textarea class="col-md-5" placeholder="Description"><%- description %></textarea>
    </div>

    <div class="row">
      <div class="col-md-2 col-md-offset-8">
        <input type="button" class="save" value="update"/>
        <input type="button" class="delete" value="delete"/>
      </div>
    </div>
  </script>

  <script type="text/template" id="refsdecl-form-tmpl">
    <select class="select-refsdecl"></select>
    <div>
      <label>Name: </label>
      <input type="text" value="<%- name %>"/>
    </div>
    <div>
      <label>Description: </label>
      <textarea rows="8" cols="40"><%- description %></textarea>
    </div>
    <div class="xml-editor">
    </div>
  </script>

</body>
</html>
