<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>Textual Communities</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="bower_components/codemirror/lib/codemirror.css">
  <link rel="stylesheet" media="screen"
    href="bower_components/bootstrap/dist/css/bootstrap.css" 
  />
  <!--[if lt IE 9]>
    <script src="bower_components/bootstrap/assets/js/html5shiv.js"></script>
    <script src="bower_components/bootstrap/assets/js/respond.min.js"></script>
  <![endif]-->
  <style type="text/css" media="screen">
    .CodeMirror {
        height: auto;
    }

    .CodeMirror-scroll {
        height: auto;
        overflow: visible;
    }

    .community-list .tab-content {
      border-top: none;
    }

    .community-list .tab-pane {
      max-height: 480px;
      overflow: auto;
    }

  </style>
</head>
<body>
  <div id="app" class="container">
  </div>
  <script src="js/config.js" type="text/javascript"></script>
  <script data-main="js/main" src="bower_components/requirejs/require.js"></script>

  <script type="text/template" id="community-info-tmpl">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Home</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li class="signin">
            <button type="button" class="btn btn-default navbar-btn"
              data-toggle="modal" data-target="#signin-modal">
              Sign In
            </button>
            </li>
            <li class="signout hide">
              <button type="button" class="btn btn-default navbar-btn  profile"></button>
              /
              <button type="button" class="btn btn-default navbar-btn signout">Sign Out</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="row">
      <div class="community-info col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%- abbr %>: <%- name %></h3>
            <% if (long_name) { %> <span><%- long_name %></span> <% } %>
          </div>
          <div class="panel-body">
            <%- description %>
          </div>
        </div>
      </div>
      <div class="community-list col-md-4">
      </div>
    </div>
  <div class="modal fade" id="signin-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Sign In</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger signin-error hide">Your username and password didn't match. Please try again.</div>
          <form role="form">
            <div class="form-group">
              <label for="username">Email address</label>
              <input type="email" class="form-control" id="username" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary signin">Sign In</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  </script>
</body>
</html>
