<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>Textual Communities</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="bower_components/codemirror/lib/codemirror.css">
  <link rel="stylesheet" media="screen"
    href="bower_components/bootstrap/dist/css/bootstrap.css" 
  />
  <!--[if lt IE 9]>
    <script src="bower_components/bootstrap/assets/js/html5shiv.js"></script>
    <script src="bower_components/bootstrap/assets/js/respond.min.js"></script>
  <![endif]-->
  <style type="text/css" media="screen">
    .CodeMirror {
        height: auto;
    }

    .CodeMirror-scroll {
        height: auto;
        overflow: visible;
    }

    .community-list .tab-content {
      border-top: none;
    }

    .community-list .tab-pane {
      max-height: 480px;
      overflow: auto;
    }

  </style>
</head>
<body>
  <div id="app" class="container">
  </div>
  <script src="js/config.js?v=5" type="text/javascript"></script>
  <script data-main="js/main" src="bower_components/requirejs/require.js"></script>

  <script type="text/template" id="community-info-tmpl">
    <div class="row">
      <button class="btn btn-default pull-right sign-in-btn">
        Sign In
      </button>
      <button class="btn btn-default pull-right profile-btn hide">
        Profile
      </button>
    </div>
    <div class="row">
      <div class="community-info col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%- abbr %>: <%- name %></h3>
            <% if (long_name) { %> <span><%- long_name %></span> <% } %>
          </div>
          <div class="panel-body">
            <%- description %>
          </div>
        </div>
      </div>
      <div class="community-list col-md-4">
      </div>
    </div>
  </script>
</body>
</html>
