<nav class="navbar navbar-default" role="navigation">
  <ul class="nav navbar-nav">
    <li class="dropdown">
      <a id="doc-menu" class="btn dropdown-toggle" role="button" 
        data-toggle="dropdown" data-target="#"
        >Documents<span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu" 
        aria-labelledby="refsdecl-menu">
        <li role="presentation"><a class="btn add-text-file" 
          role="menuitem" data-target="#">Add Text File</a>
        </li>
        <li role="presentation"><a class="btn add-image-zip" 
          role="menuitem" data-target="#">Add Image Zip</a>
        </li>
        <li role="presentation"><a class="btn get-doc-xml" 
          role="menuitem" data-target="#">Get Document XML</a>
        </li>
        <li role="presentation"><a class="btn rename-doc" 
          role="menuitem" data-target="#">Rename Document</a>
        </li>
        <li role="presentation"><a class="btn delete-doc" 
          role="menuitem" data-target="#">Delete Document</a>
        </li>
        <li role="presentation"><a class="btn delete-doc-text" 
          role="menuitem" data-target="#">Delete Document Text</a>
        </li>
      </ul>
    </li>
    <li class="dropdown">
      <a id="refsdecl-menu" class="btn dropdown-toggle" role="button" 
        data-toggle="dropdown" data-target="#">
        RefsDecl<span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu" 
        aria-labelledby="refsdecl-menu">
        <li role="presentation"><a class="btn edit-doc-refsdecl" 
          role="menuitem" data-target="#">Doc RefsDecl</a>
        </li>
        <li role="presentation"><a class="btn edit-entity-refsdecl" 
          role="menuitem" data-target="#">Entity RefsDecl</a>
        </li>
      </ul>
    </li>
    <li class="dropdown">
      <a id="upload-menu" class="btn dropdown-toggle" role="button" 
        data-toggle="dropdown" data-target="#">
        Upload Files <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="upload-menu">
        <li role="presentation"><a role="menuitem" data-target="#"
          class="btn add-dtd">Add DTD</a>
        </li>
        <li role="presentation"><a role="menuitem" data-target="#"
          class="btn add-css">Add CSS</a>
        </li>
        <li role="presentation"><a role="menuitem" data-target="#"
          class="btn add-js">Add JS</a>
        </li>
      </ul>
    </li>
    <li class="dropdown">
      <a id="member-menu" class="btn dropdown-toggle" role="button" 
        data-toggle="dropdown" data-target="#">
        Members <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="member-menu">
        <li role="presentation"><a role="menuitem" data-target="#"
          class="btn members">Members</a>
        </li>
        <li role="presentation"><a role="menuitem" data-target="#"
          class="btn invite">Invite</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
<form role="form" class="form-horizontal">
  <div class="form-group">
    <label for="form-field-name" class="col-md-2 control-label">Name</label>
    <div class="col-md-10">
      <input class="form-control" id="form-field-name" 
      type="text" placeholder="Name" value="<%- name %>"/> 
    </div>
  </div>
  <div class="form-group">
    <label for="form-field-abbr" class="col-md-2 control-label"
      >Abbreviation</label>
    <div class="col-md-10">
      <input class="form-control" id="form-field-abbr" 
        type="text" placeholder="Abbreviation" value="<%- abbr %>"/> 
    </div>
  </div>
  <div class="form-group">
    <label for="form-field-long_name" class="col-md-2 control-label"
      >Long Name</label>
    <div class="col-md-10">
      <input class="form-control" id="form-field-long_name" 
        type="text" placeholder="Long Name" value="<%- long_name %>"/> 
    </div>
  </div>
  <div class="form-group">
    <label for="form-field-font" class="col-md-2 control-label"
      >Font</label>
    <div class="col-md-10">
      <input class="form-control" id="form-field-font" 
        type="text" placeholder="Font" value="<%- description %>"/> 
    </div>
  </div>
  <div class="form-group">
    <label for="form-field-description" class="col-md-2 control-label"
      >Description</label>
    <div class="col-md-10">
      <textarea class="form-control" id="form-field-description" 
        placeholder="Description"><%- description %></textarea> 
    </div>
  </div>
</form>

