{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Collate Interface</title>
<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=geometry&sensor=false"></script>

<script type="text/javascript" 
  src="{% static "bower_components/uri.js/src/uri.js" %}"></script>
<script type="text/javascript" 
  src="{% static "bower_components/underscore-amd/underscore.js" %}"></script>
<script type="text/javascript" 
  src="{% static "bower_components/backbone-amd/backbone.js" %}"></script>

<script type="text/javascript">
  var userName = "{{ userName }}";
  var urn = "{{ urn }}";
  var ruleSetName = "{{ ruleSetName }}";
  var returnUrl = "{{ returnUrl }}";
  var isAllWitnesses = "{{ isAllWitnesses }}"
  var witnessDataTokens;
  var witnessDataLines;
  var ruleSet = (("{{ ruleSet }}")).replace(/&(l|g|quo)t;/g, function(a,b)
  {
    return {
      l : '<',
      g : '>',
      quo : '"'
    }[b];
  });
  var allImages = (("{{ images }}")).replace(/&(l|g|quo)t;/g, function(a,b)
  {
    return {
      l : '<',
      g : '>',
      quo : '"'
    }[b];
  });

var allWitnesses;
var newRules;
var contextStruct;
var allTokens;
var totalPos;
var currentPosition = "{{ position }}";
var regOn;
var iTimeoutId = null;
var allRules;
var reg_thisBox;
var reg_toBox;
var origTokens;
var isBuildWitnesses;
var isRecollate;
var customRules;
var isCustomRules;
var autoReg;
var distinct;
var changeLabelTimer = null;
var isOriginals;
var isRealign;
var alignOn;
var allAlign;
var customAligns;
var isCustomAlign;
var map;

</script>
<script type="text/javascript" 
  src="{% static "regularize/js/regularize.js" %}"></script>

</head>

<body>
  <h1>Collation Interface: for <label for="title_label" id="title_label"></label></h1>
  Rule Set Name: <label id="ruleSetNameLabel"></label>
  <input name="choose_ruleSet" id="choose_ruleSet" type="button" value="Change Rule Set" onclick="chooseRuleSet()"><br/>
  <!--
  Witnesses: <label id="chooseTextsLabel"></label>
  <input name="choose_texts" id="choose_text" type="button" value="Select Certain Texts" onclick="chooseTexts()"><br /><br />
  -->
  
<label for="regularize_label" id="regularize_label">Single click on the word you want regularized, double click or type in the
word you want it regularized to.  <br/>Select combination of Witnesses and Place.  Click OK when finished.</label>
<br /><br /><label for="reg_on" id="reg_on">Regularization is off! (Showing
originals)
</label>

<table>
  <tr>
    <td valign="top">
      <table>
<tr>
<td style="width: 30px">
<form action="." method="POST" name="regularization">
       <br /><textarea rows="10" cols="75" name="reg" onclick="determineClick()"></textarea>
       
       <br /> <input type="checkbox" name="reg_checkbox" value="reg_checkbox" onchange="showRegularization(this)"/>
        Add regularization rules
       <br /> <input type="checkbox" name="change" value="change" onchange="showRealign(this)"/>
        Change alignment of token (Make sure all regularizations are done!)
       <br />
       
       <input name="reg_on" id="reg_button" type="button" value="Reg. On" onclick="regularize_onoff()">
       <input name="align_on" id="align_button" type="button" value="Align. Off" onclick="align_onoff()">
       <input name="back" type="button" value="Back Entity" onclick="backEntity()">
       <input name="forward" type="button" value="Forward Entity" onclick="forwardEntity()">
       <input name="previous" type="button" value="Previous Word" onclick="previousToken()">
       <input name="next" type="button" value="Next Word" onclick="nextToken()">
       <!--
       <input name="done" type="button" value="Done" onclick="returnPage()"><br/>
       -->
    
       <div id="reg_wrapper"></div><br />
       
</form>

  <form name="realign_token" id="realign_token">
    <div id="align_wrapper"></div><br/>
    </form>
</td>
</tr>

<tr>
  <td>
<form name="edit_reg">
  <label id="reg_table_title">Regularizations</label>

<table id="reg_table" border="1">
	
</table>

<input name="submit" type="button" value="Submit" onclick="submitCustomReg()">

</form>
  </td>
</tr>
      </table>
    </td>
    <td valign="top">
      <table>
        <tr>
            <td valign="top">
  <label id="newRegInfo"></label><br/>
<form action="." method="POST" name="information">
<h2>Witness Information</h2>
Word <label for="word" id="word"></label> in line <label for="line" id="line"></label> in entity <label for="block" id="block"></label>
in witness <label for="witnessId" id="witnessId"></label>

<br /><br />

Context:<br/>
<label for="context" id="context"></label>

<br /><br />

</form>
<form action="." method="POST" name="reg_information">
Regularization from:<br/>
<label for="reg_this_info" id="reg_this_info"></label>

<br /><br />

Regularization to:<br/>
<label for="reg_to_info" id="reg_to_info"></label>

<br /><br />

This regularization set for <label for="choice" id="choice"></label>
</form>
        </tr>
        <tr>
  <td><div id="image_map" style="width:384px;height:384px;margin:0px auto;"></div></td>
</tr>
</table>
    </td>
  </tr>
</table>
</body> </html>
