@import (reference) 'bootstrap/bootstrap.less';

.user-select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

#content {
    .container-fluid();

    .header {
        .page-header;
        margin-top: 25px;

        .select-ruleset {
            .pull-right;
            top: -20px;
        }
    }

    .tab-content {
        padding: 8px 0;
    }

    .regularization {
        .row;

        .instruction {
            padding: 0 8px 8px;

            .more {
                .glyphicon;
                .glyphicon-expand;
                cursor: pointer;
            }

            .shortcuts {
                display: none;
            }

            &.expand {
                .more {
                    .glyphicon-collapse-down;
                }

                .shortcuts {
                    .show;
                }
            }
        }

        .left-panel {

            .tab-pane {
                overflow-x: scroll;
            }

            .reg-table {
                min-height: 300px;
                .panel;
                .panel-default;
                .panel-body;

                >.segments {
                    display: inline;

                    >div {
                        display: inline;

                        >.witness-name {
                            padding: 0 1px;
                            margin: 0 1px;
                            display: inline-block;
                            cursor: pointer;
                        }
                    }

                    >.segment {
                        .user-select-none;
                        display: inline;
                        padding: 0 6px;
                    }

                    &.selected .segment {
                        border: 2px solid green;
                        padding: 2px 4px;
                        .border-top-radius(@border-radius-base);
                        .border-bottom-radius(@border-radius-base);
                    }

                }
            }

            .alignment-table {
                .table;
                .table-condensed;

                border-collapse: separate;
                border-spacing: 3px;

                td {
                    .user-select-none;
                    cursor: pointer;
                }

                .witness-name {
                    .label;
                    .label-default;
                }

                .invariant {
                    border: 1px solid #80BB00;
                }

                .variant {
                    border: 1px solid black;
                }
            }

            .reg-control {
                button {
                    .btn;
                    .btn-default;
                    .btn-xs;

                    &.save {
                        .btn-primary;
                        .pull-right;
                    }
                }
            }
        }
        .right-panel {
            .witness-table, .image-table {
                .table;
                .table-striped;
                .table-condensed;

                .witness-name {
                    .label;
                    .label-default;
                    cursor: pointer;
                }
            }

            .image-table {
                .witness-name.selected {
                    .label-success;
                }

                .image-map {
                    min-width: 460px;
                    min-height: 800px;
                }
            }
        }
    }

    .ruleset {
        margin-top: 40px;

        .rule-table {
            .table;

            .remove-rule {
                cursor: pointer;
            }
        }

    }


    .reg-off {
        .hidden;
    }
}


